@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' ,sans-serif;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #230148 , #431d6d);

}
.container{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;

}
.container .title{
    font-size: 25px;
    font-weight: 500;
}
.container .title::before{
    content: '';
    position: absolute;
    height: 3px;
    width: 30px;
    background: linear-gradient(90deg, #eed8e4 , #992bd8);
}
.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}
.user-details .input-box .details{
display: block;
    font-weight: 500;
margin-bottom: 5px;
}
.user-details .input-box input{
    height: 45px;
    width: 100%;
outline: none;
border-radius: 5px;
border: 1px solid #ccc;
padding-left: 15px;
font-size: 16px;
border-bottom-width: 2px;
transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #47fa00;
}
form .curso-detalhes .titulo-curso{
    font-size: 20px;
    font-weight: 500;
}
form .curso-detalhes .category {
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}
.curso-detalhes .category label{
display: flex;
align-items: center;
}
.curso-detalhes .category .dot {
 height: 18px;   
 width: 18px;
 background: #c9c0c9a9;
 border-radius: 50%;
 margin-right: 10px;
 border: 5px solid transparent;
 transition: all 0.3s ease;
}
#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three{

    border-color: #ddd4dda9;
    background: #4c3e53 ; 
}
form input[type="radio"]{
    display: none;
}
form .button{
    height: 45px;
    margin: 45px 0;
}
form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color:  #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(180deg, #4a3356 , #1f2023);

}
form .button input:hover{
    background: linear-gradient(360deg, #4a3356 , #1f2023);

}
 @media (max-width: 584px) {
    .container{
        max-width: 100%;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    form .cursos-Detalhes .category {
        width: 100%;
    }
    .container form .user-details{
        max-height: 300px;
        overflow-y: scroll;   
    }
    .user-details::-webkit-scrollbar{
        width: 0;
    }

}
a{
    color: #00cc00;
    align-items: center;
    text-align: center;
    text-decoration: none;
    border-style: none;
}
li{
    text-align: center;
    margin: 20px 30px;
    padding: 10px 40px;
    border: 1px solid;
    border-color: #4a3356;
    background: linear-gradient(90deg, #4a3356 , #1f2023);
    border-radius: 10px;
    box-shadow: 0 10px 10px #1f2023;
   
}
.li:hover{
    color: #00cc00;
    transform: scale(2,2);
}